.card{
  width: 75%;
  height: 350px;
}
@media (max-width: 768px) {
    .card{
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .card{
        width: 90%;
        height: 300px;
    }
}